.table {
  width: 100%;
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 0.5rem;
}

.th {
  padding: 1rem;
  background: #3f51b5;
  color: white;
  font-weight: bold;
}

.td {
  border-bottom: 1px solid lightgray;
  padding: 0.5rem;
  text-align: center;
}

.delete__btn {
  padding: 0.2rem 0.7rem;
  border-radius: 5rem;
  border: 0;
  color: white;
  background: red;
  cursor: pointer;
}
