.label {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem;
}

.form__control {
    display: block;
    height: 2rem;
    width: 100%;
    border: 1px solid #845EC2;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
}