.logo__section {
    display: grid;
    place-items: center;
}

.app__logo {
    height: 15vh;
    animation: rotation infinite 20s linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}