* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-family: Roboto, 'Open Sans', sans-serif;
  background: linear-gradient(90deg, #1f005c, #4d0773, #85118b, #a21d7f, #b92c68, #d03e50, #e87053, #ffb56b);
}

body {
  width: 100%;
}
