* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  font-family: Roboto, 'Open Sans', sans-serif;
  background: linear-gradient(45deg,  #6d94ca 0%,#a8c1ef 100%);
}

body {
  width: 100%;
}
